%h3 Naman says...
#tweet
  %p Loading...
  %img{:src => "/images/ajax-loader.gif"}
%a{:href => "http://twitter.com/share?url=http://www.shutupnaman.com&text=Shut%20up%2c%20%40naman_k!%20%23namanpress%20%28via%20%40gamehead200%29"}
  %h2{:class => "shutup"} Shut up, Naman!

