%h3 Naman says...
#tweet
  %p Loading...
  %img{:src => "/images/ajax-loader.gif"}
%a{:href => "http://twitter.com/share?url=http://shutupnaman.com&text=Shut%20up%20%40naman_k!!"}
  %h2{:class => "shutup"} Shutup Naman!

